<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-row>
  <ion-col>
    <ion-list>
      <ng-container *ngFor="let funcionario of this.funcionarios">
        <ion-item>
          <ion-label>{{ funcionario.Nome}} - {{ funcionario.Cargo}}</ion-label>
          <ion-icon name="trash-outline" (click)="remover(funcionario.CodFun)"></ion-icon>
          </ion-item>

      </ng-container>
      <ion-item>asd</ion-item>
    </ion-list>
  </ion-col>
</ion-row>

</ion-content>